* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* Police */
  
  @font-face {
    font-family: 'manga';
    src: url('font/manga-webfont.woff2') format('woff2'),
         url('font/manga-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
body {
    background-image: url("Medias/white_bg.jpg");
    background-size:auto;
    background-repeat: no-repeat;
    animation: animate 25s ease-in-out infinite;
}

@keyframes animate {
    0%, 100%{            
    background-image: url("Medias/white_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }
    33%{
    background-image: url('Medias/green_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
    66%{
    background-image: url('Medias/red_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
}
  
  .start-screen,
  .score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1 px solid black;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
  }
  
  /* Bouttons customisés */
  
  #start-button,
  #restart,#stop {
    border: none;
    padding: 1rem 4rem;
    background: rgba(0, 0, 0, 0.824);
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
  }
  
  #start-button:before,
  #restart:before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -10px;
    left: -10px;
    /* background: teal; */
    border-top: 4px solid rgb(0, 0, 0);
    border-left: 4px solid rgb(0, 0, 0);
    transition: all 0.25s;
  }
  
  #stop:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -10px;
    right: -10px;
    /* background: teal; */
    border-top: 4px solid rgb(0, 0, 0);
    border-right: 4px solid rgb(0, 0, 0);
    transition: all 0.25s;
  }
  
  #start-button:hover:before,
  #start-button:hover:after,
  #restart:hover:before,
  #restart:hover:after,
  #stop:hover:before,
  #stop:hover:after {
    height: 100%;
    width: 100%;
  }
  
  #start-button:after,
  #restart:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -10px;
    right: -10px;
    border-bottom: 4px solid rgb(0, 0, 0);
    border-right: 4px solid rgb(0, 0, 0);
    transition: all 0.25s;
    text-align: center;
  }
  
  #stop:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -10px;
    left: -10px;
    border-bottom: 4px solid rgb(0, 0, 0);
    border-left: 4px solid rgb(0, 0, 0);
    transition: all 0.25s;
  }
  
  #restart{
    margin-top: 0.9em;
  }
  
  #stop {
    margin-top: 50px;
    padding: 1rem 3.3rem;
  }
  
  #display-container {
    background-color: #fff;
    padding: 3.1em 1.8em;
    width: 70%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
  }
  .header {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
  }
  .timer-div {
    background-color: #e1f5fe;
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
  }
  .question {
    margin-bottom: 1.25em;
    font-weight: 600;
  }
  .option-div {
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid #c0bfd2;
    border-radius: 0.3em;
  /* test */
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  @keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
  
  .option-div:disabled {
    color: #000000;
    cursor: not-allowed;
  }
  #next-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: #008cff;
    color: #ffffff;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  }
  
  #next-button:hover{
    background-color: #000000;
  }
  
  
  .hide {
    display: none;
  }
  
  
  /* annimation sur les options */
  
  .incorrect {
    background-color: #fd3445;
    color: #ffffff;
    border-color: #d32f2f;
    background-size: 100% 100%;
    transition: background-color 0.5s ease;
  }
  
  .correct {
    background-color: #20c920;
    color: #ffffff;
    border-color: #689f38;
    background-size: 100% 100%;
    transition: background-color 0.5s ease;
  }
  #user-score {
    font-size: 1.5em;
    color: #ffffff;
    padding: 1em;
    background-color: #00000086;
  } 
  .sary
  {
    display: flex;
    justify-content: center;
    width: 250px;
    height: auto;
    margin: auto;
    top: 20px;
  }
  
  
  /* Quiz */
  #quiz-div {
    opacity: 95%;
  }
  
  #container {
    font-size: 18px;
  }
  
  hr {
    margin-top: 30px;
  }
  
  /* Les stickers */
  #sticker1{
    position: absolute;
    top: 10px;
    left: 50px;
    width: 250px;
  }
  
  #sticker2{
    position: absolute;
    bottom: 10px;
    left: 50px;
    width: 250px;
  }
  
  #sticker3{
    position: absolute;
    top: 10px;
    right: 50px;
    width: 250px;
  }
  
  #sticker4{
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 250px;
  }